			
/* https://www.w3schools.com/colors/colors_names.asp */
	.thebigsvg{
		background-color: ivory; 
		}
	.treerect{
		fill: none;
		pointer-events: all;
	}
	.primarylinks{
		stroke: lightgrey;
		fill: none;
		stroke-width: 2px;
	}
	.custlinks{
		stroke: lightgrey;
		fill: none;
		stroke-width:4px;
		stroke-dasharray: 3,3;
	}

	.menudiv {
		margin: 5px;
        padding: 5px;
	}
	button {
		margin: 2px;
	}


