			
/* https://www.w3schools.com/colors/colors_names.asp */
	.thebigsvg{
		background-color: ivory; 
		}
	.treerect{
		fill: none;
		pointer-events: all;
	}
	.primarylinks{
		stroke: lightgrey;
		fill: none;
		stroke-width: 2px;
	}
	.custlinks{
		stroke: lightgrey;
		fill: none;
		stroke-width:4px;
		stroke-dasharray: 3,3;
	}

/*about buttons*/

	.buttonsdiv {
		margin: 5px;
        padding: 5px;
	}
	button {
		margin: 2px;
	}



/*aboout context menu*/

/*https://bl.ocks.org/adamfeuer/042bfa0dde0059e2b288 */

.d3-context-menu {
	position: absolute;
	display: block;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}	


/*about modals*/


	/*https://www.w3schools.com/howto/howto_css_modals.asp*/

/* The Modal (background), to dim the background */
.myModal {
	font-family: Arial, Helvetica, sans-serif;
	 display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top, i.e., bring it to front*/
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
  }
  
  /* Modal Content */
  .modal-content {
	margin: auto;
	/*position: fixed; if not disabled, the margin:auto won't work, the div won't be put at the center*/
	/*top: 150px;*/
	 text-align: left;
	background-color: #fefefe;
	width: 50%;
	height: 50%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	font-size: 28px;
  }
   /*my edit: change font size*/
  input[type="text"]
  {
	  /*font-size:28px;*/
  }
  
  /* The Close Button */
  .close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-header {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
  }
  
