/* https://stackoverflow.com/questions/3245141/using-otf-fonts-on-web-browsers */


@font-face {
    font-family: 'qigong';
    src: url('qigongfanti.ttf') format("truetype"); 
}
@font-face {
    font-family: 'liu';
    src: url('liu.ttf') format("truetype"); 
}


@font-face {
    font-family: 'zhao';
    src: url('zhaomengfu.otf') format("opentype"); 
}


.book 
 {
    font-family: 'zhao';
    font-size: 60px;
    writing-mode: vertical-rl;
    width: 80%;
    height: 80%;
    letter-spacing:5px;
    line-height:1.5;
    padding-left: 150px;
    overflow:auto;
    background-color: lightgrey;
    /* https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }


